<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<!--ASANAK Section -->
		<add key="AsanakUserName" value="niazeruz@0970" />
		<add key="AsanakPassword" value="mirabi0970@sanak" />
		<add key="AsanakSourceNumber" value="982188710970" />
		<add key="AsanakServiceURL" value="https://panel.asanak.com/webservice/v1rest/sendSMS" />
		<!--ASANAK Section -->
		<!--SMSIR Section -->
		<add key="SMSIRUserApiKey" value="1567fb0a78b7ce5fde4dfb0a" />
		<add key="SMSIRSecretKey" value="w%H2CN+vrJ_BADKm" />
		<add key="SMSIRSourceNumber" value="3000496655" />
		<!--SMSIR Section -->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
