<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.2.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.2.0.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net452" />
  <package id="Microsoft.Xrm.Sdk.2015" version="7.1.0.1085" targetFramework="net452" />
  <package id="Microsoft.Xrm.Sdk.Workflow.2011" version="5.0.18" targetFramework="net452" />
  <package id="MSBuild.ILMerge.Task" version="1.1.3" targetFramework="net452" />
  <package id="RestSharp" version="106.3.1" targetFramework="net452" />
  <package id="SmsIrRestful" version="1.1.3" targetFramework="net452" />
</packages>