<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="root_MSCRMEntities" connectionString="metadata=res://*/CRMContext.csdl|res://*/CRMContext.ssdl|res://*/CRMContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=62.60.144.79;initial catalog=root_MSCRM;user id=dev;password=s22759869d@sd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<!--ASANAK Section -->
		<add key="AsanakUserName" value="niazeruz@0970" />
		<add key="AsanakPassword" value="mirabi0970@sanak" />
		<add key="AsanakSourceNumber" value="982188710970" />
		<add key="AsanakServiceURL" value="https://panel.asanak.com/webservice/v1rest" />
		<!--ASANAK Section -->
		<!--SMSIR Section -->
		<add key="SMSIRUserApiKey" value="1567fb0a78b7ce5fde4dfb0a" />
		<add key="SMSIRSecretKey" value="w%H2CN+vrJ_BADKm" />
		<add key="SMSIRSourceNumber" value="3000496655" />
		<!--SMSIR Section -->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>